@import "../../../../less/variables";

div.graph-context-menu {
  z-index:9999;
  position: fixed;

  ul {
    background-color:lighten(@gray-base, 50%);
    position: fixed;
    box-shadow: 3px 3px 10px black;
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
    width: 200px;

    li {

      hr {
        border-color: lighten(@gray-base, 40%);
        margin: 0;
      }
      div {
        padding: 5px 20px;
        overflow: visible;

        &:hover {
          background-color: @black-base;
          color: @white-base;
          cursor: pointer;
        }
      }


      ul {
        display: none;
        position: absolute;
        left:150px;
        margin-top: -30px;
      }

      &:hover {
        ul {
          display: block;
        }
      }
    }

  }
}
